<%= page_title 'Create New Location' %>

<%= form_for @location, :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
  <%=f.show_errors %>
  <%= render :partial => "form", :object => f %>
    <div class="form-actions">
      <%= f.submit "Create Location", :onClick => "return previewMap()", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', {:controller => :merchants, :action => :profile}, :class => 'btn' %>
    </div>
<%end%>
